body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Section (login) */
section {
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Título */
section h3 {
    text-align: center;
    margin: 0;
    color: #333;
}

/* Inputs */
section input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section input:focus {
    outline: none;
    border-color: #4facfe;
}

/* Botón */
section button {
    padding: 10px;
    font-size: 15px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

section button:hover {
    background-color: #00c6ff;
}
